/* Reset default margin and padding */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Style header h1 */
header h1 {
    font-size: 36px;
}

/* Style header navigation menu */
/* Gaya umum untuk menu navigasi */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
    text-align: center;
    display: inline;
    margin-right: 20px;
}

/* Gaya untuk layar kecil (misalnya, ponsel) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}


nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style home section */
#home {
    background-color: #fff;
    /* Latar belakang putih */
    padding: 0px 50px 40px 50px;
    text-align: center;
}

/* Style game images section */
#games {
    background-color: black;
    /* Latar belakang hitam */
    padding: 50px;
    text-align: center;
}

/* Style individual game images */
.game-image {
    text-align: center;
}

.game-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}

.game-image p {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* Style about section */
#about {
    background-color: #fff;
    /* Latar belakang putih */
    padding: 50px;
    text-align: center;
}

/* Style contact section */
#contact {
    background-color: #f2f2f2;
    /* Latar belakang abu-abu muda */
    padding: 50px;
    text-align: center;
}

/* Style footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"> */